body {
  	font-weight: 300;
  	font-family: 'IBM Plex Mono', monospace;
  	color:white;
  	background-color: #0C120C;
}

body a {
	color: #F90292;

}

p {
	font-size: 1rem;
}

h2, h3, h4, h5 {
  font-weight: 500;
}

h1 {
	font-weight: 300;
	font-size: 3.0rem;
}

footer {
	color: white;
}

.light-gray {
	color: 	#3a0214;
}

.about a {
	font-weight: 400;
}

.about a:hover {
	color: #321325;
	font-weight: 400;
}

.about {
	font-weight: 400;
}

.about strong {
	color: #FAFAFA;
	font-weight: 700;
}

.background {
	padding-top: 3%;
	padding-bottom: 2%;
	border: none;
}

.big_image {
	background-image: url("../image/underground.jpg");
}

.bg-dark {
	background-color: #0C120C;
	color: #f2e1eb;
	border: none;
	padding-top: 6%;
	padding-bottom: 3%;
}

.bg-medium {
	background-color: rgba(50, 19, 37, 1.0);
	color: #f2e1eb;
	border: none;
	padding-top: 2%;
	padding-bottom: 0%;
}

.bg-green {
	background-color: #3AB795; 
	color: #f2e1eb;
	border: none;
	padding-top: 0%;
	padding-bottom: 0%;
}

.bg-blue {
	background-color: #C1F7DC;
	color: #0C120C;
}

.name {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 600;
	font-size: 2.5rem;
}

.bg-image {
	background-image: linear-gradient(to bottom right, rgba(249, 2, 146, 0.85), rgba(252, 23, 2, 0.9)), url("../image/underground_sm.jpeg");
}

.small_image {
	background-image: url("../image/underground_sm.jpeg");
}

.main-page p, ul, li {
	font-size: 0.95rem;
}

.main-page h5 {
	font-size: 0.85rem;
}

.main-page h1 {
	font-size: 2.5rem;
}

.float-right {
	float: right;
}

.border-image {
	box-shadow: 6px 6px 10px gray;
}

hr {
  margin: 0 auto;
  width: 95vw;
  transition: border-color 1.5s ease-in-out;
  opacity: .8;
}

.box-margin {
	padding-top: 5vh;
	padding-bottom: 4vh;
	padding-left: 3vw;
	padding-right: 3vw;
}


.elem-margin {
	padding-bottom: 40px;
	padding-top: 20px;
	margin-left: 4vw;
	margin-right: 4vw;
}

.first-elem{
	padding-top: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 4vw;
	margin-right: 4vw;
	color:#f0f7f6;
}

@media screen and (max-width: 920px) {

	.box-margin {
		padding-top: 5vh;
		padding-bottom: 4vh;
		padding-left: 0.5vw;
		padding-right: 0.5vw;
	}


	.elem-margin {
		padding: 0;
	}

	.first-elem{
		padding-top: 0px;
		margin-bottom: 0px;
		margin-top: 0px;
		margin-left: 1vw;
		margin-right: 1vw;
	}
}

.text-purple {
	color: #2e085d;
}

.dark-bg {
	background-color: black;
	color: white;
}

.footer-elem{
	margin: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	color: #9a69d8;
}

.first-elem a {
	color: #f0f7f6;
}

.first-elem a:hover {
	color: #321325;
}

.icon-fa {
	color: white;
}

.nav-elem{
	padding-bottom: 15px;
	padding-top: 15px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 4vw;
	margin-right: 4vw;
	font-weight: 400;
}

.nav-elem a {
	color: #ffffbe;
}

.nav-elem a:hover {
	color: #321325;
	text-decoration: none;
}


header {
	border: none;
}

.intro {
	padding-top: 2%;
	padding-bottom: 2%;
}

.intro-bt {
	padding-bottom: 2%;
	border: none;
}

.nav-item {
	background-color: #C1F7DC;
	font-weight: 500;
	color: white;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: right;
}

.nav-item a {
	color: #321325;
}

.contact-align {
	text-align: center;
}


