body {
  	font-weight: 300;
  	  	font-family: 'Rubik', sans-serif;
  	color:white;
  	background-color: #008148;
}

body a {
	color: rgba(249, 2, 146, 1.0);

}

p {
	font-size: 1rem;
}

h2, h3, h4, h5 {
  font-weight: 500;
}

h1 {
	font-weight: 300;
	font-size: 3.0rem;
}

footer {
	background-color: none;
	color: white;
}


button {
	background-color: white;
	color: rgba(2, 2, 2, 0.8);
	height: 50px;
	width: 220px;
	border-radius: 3px;
	border:none;
}


.events h3 {
	font-weight: 600;
	color: white;
}

.events h5 {
	color: white;
}


.events {
	color: white;
	background-color: rgba(255,255,255, 0.1);
	padding: 20px;
	height: 300px;
	margin: 0 auto;
}

.events-img {
	height: 300px;
	padding: 20px;
}

.img-rev {
	background-image: url("../image/revolution_sundays.jpg");
	background-size: 600px;
}

.events p {
	margin-top: 1em;
}

.bgbody {
	background-color: #f9f4ea;
}

.bgbody_start {
	background-color: #fd4850;
}

.about a {
	font-weight: 400;
}

.about a:hover {
	color: #321325;
	font-weight: 400;
}

.about {
	font-weight: 400;
}

.about strong {
	color: #FAFAFA;
	font-weight: 700;
}

.background {
	padding-top: 3%;
	padding-bottom: 2%;
	border: none;
}

.big_image {
	background-image: url("../image/underground.jpg");
}



hr.haar-top {
	border: 0;
    height: 3px;
    width: 30vw;
    background: #FBFF12;
    margin: 0 0 0 0;
}

hr.haar-l {
	border: 0;
	border: 0;
    height: 40px;
    width: 10vw;
    background: none;
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 90vw;
}

hr.haar-r {
	border: 0;
    height: 40px;
    width: 10vw;
    background: none;
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 0;
}

hr.haar-fijn {
	border: 0;
    height: 10px;
    width: 100vw;
    background: #FFE900;
    margin: 0 auto;
}

hr.haar-fijn-2 {
	border: 0;
    height: 5px;
    width: 100vw;
    background: #FFE900;
    margin: 0 auto;
    margin-left: 0vw;
}

hr.haar-h {
	border: 0;
    height: 5px;
    width: 18vw;
    background: rgba(249, 2, 146, 1.0);
    margin-top: 0;
    margin-left: 0;
/*    margin: 0 auto;
    margin-bottom: 5px;*/
}

.bg-medium {
	background-color: #fffcf5;
	/*background-image: linear-gradient(to bottom right, #FBFF12,  #F1E9DA, #F1E9DA,#F1E9DA, #F1E9DA, #FBFF12);*/
	color: #0C120C;
	border: none;
/*	border-bottom: 4px solid yellow;*/

}

.bg-yellow {
	color: white;
	background-color: #FBFF12;
/*	background-color: #fd4850;*/
	border: none;
	padding-top: 2%;
	padding-bottom: 2%;
}

.bg-red {
	color: white;
	background-color: rgba(252, 23, 2, 1.0);
	border: none;
	padding-top: 2%;
	padding-bottom: 2%;
	z-index: 1000;
}

.bg-red strong {
	color: white;
	font-weight: 700;
}

.bg-dark {
	color: white;
	background-color: #008148;
	border: none;
	padding-top: 2%;
	padding-bottom: 2%;
	z-index: 1000;
}

.bg-dark a {
	font-weight: 300;
	color:#FFE900;
}

.name {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 600;
	font-size: 3.0rem;
	color: white;
}

.bg-image {
	background-image: linear-gradient(to bottom right, rgba(249, 2, 146, 0.9), rgba(252, 23, 2, 0.9)), url("../image/underground_sm.jpeg");
}

.small_image {
	background-image: url("../image/underground_sm.jpeg");
}

.main-page p, ul, li {
	font-size: 0.95rem;
}

.main-page h5 {
	font-size: 0.85rem;
}

.main-page h1 {
	font-size: 2.5rem;
}

.float-right {
	float: right;
}

.border {
	border: none;
}



.box-margin {
	padding-top: 5vh;
	padding-bottom: 4vh;
	padding-left: 3vw;
	padding-right: 3vw;
}


.elem-margin {
	padding-bottom: 20px;
	padding-top: 20px;
}

.first-elem{
	padding-top: 0px;
	margin-bottom: 40px;
	margin-top: 40px;
	color:white;
}

.first-elem p {
	background-color: rgba(0,0,0, 0.1);
	padding: 10px;

}

@media screen and (max-width: 920px) {

	.box-margin {
		padding-top: 5vh;
		padding-bottom: 4vh;
		padding-left: 0.5vw;
		padding-right: 0.5vw;
	}


	.elem-margin {
		padding: 0;
	}

	.first-elem{
		padding-top: 0px;
		margin-bottom: 0px;
		margin-top: 0px;
		margin-left: 1vw;
		margin-right: 1vw;
	}
}

.text-purple {
	color: #2e085d;
}

.dark-bg {
	background-color: black;
	color: white;
}

.footer-elem{
	margin: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
	color: #9a69d8;
}

.first-elem a {
	color: #f0f7f6;
}

.first-elem a:hover {
	color: #321325;
}

.icon-fa {
	color: white;
}

.nav-elem{
	padding-bottom: 15px;
	padding-top: 15px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 4vw;
	margin-right: 4vw;
	font-weight: 400;
}

.nav-elem a {
	color: #F1E9DA;
}

.nav-elem a:hover {
	color: #321325;
	text-decoration: none;
}


header {
	border: none;
}

.intro {
	padding-top: 2%;
	padding-bottom: 2%;
}

.intro-bt {
	padding-bottom: 2%;
	border: none;
}

.nav-item {
	background-color: rgba(249, 2, 146, 1.0);
	font-weight: 500;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: right;
}

.nav-item a {
	color: white;
}

.contact-align {
	text-align: center;
}

.nav-bottom {
	background-color: #034732;
	color: white;
	font-weight: 500;
	width: 100vw;
}

.nav-bottom a{
	color: white;
	font-weight: 700;
	text-decoration: underline;
}

.nav-bottom a:hover {
	color: white;
	font-weight: 500;
}



