---
layout: default
---

  <div class="fixed top-0 right-0 p3 nav-item">
    <span class="caps" style="padding-right:1.5vw;"><a href="/#skills">Skills</a></span>
    <span class="caps" style="padding-right:1.5vw;"><a href="/#projects">Projects</a></span>
    <span class="caps" style="padding-right:1.5vw;"><a href="/#talks">Talks</a></span>
    <span class="caps" style="padding-right:1.5vw;"><a href="/#contact">Contact</a></span>
  </div>

 <div class="bg-white">
    <header class="container px3 py2 first-elem intro-bt">
      <div class="clearfix mxn2">
       <div class="sm-col sm-col-9 px4 py3">
            <h1 id="name" class="h1 responsive-h1 caps name teal-dark" >Anouk Ruhaak</h1>
            <p class="teal-dark intro">As a freelance <strong>web and mobile developer</strong>, I love  to  be  involved  with the development process from  the very  beginning:  turning ideas into  functional prototypes  and prototypes  into  full-fledged  apps. Alternatively,  I can be  brought in  to  debug and further develop existing  apps.</p>
              <span style="padding-right:1.5vw;"><a href="https://twitter.com/AnoukRuhaak"><i class="fa fa-twitter fa-lg"></i></a></span>
              <span style="padding-right:1.5vw;"><a href="https://github.com/AnoukRuhaak"><i class="fa fa-github-alt fa-lg"></i></a></span>
              <span style="padding-right:1.5vw;"><a href="mailto: hello@anoukruhaak.com"><i class="fa fa-envelope fa-lg"></i></a></span>
        </div>
      </div>
    </header>
  </div>

{{content}}